name: Build and Push Docker Image

on:
  push:
    branches:
      - 'image-*'  # 只匹配以 v 开头的版本分支

env:
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ env.IMAGE_NAME }}:${{ replace(github.ref_name, 'image-', '') }}
        labels: |
          org.opencontainers.image.created=${{ github.event.head_commit.timestamp || github.event.repository.updated_at }}
          org.opencontainers.image.revision=${{ github.sha }}
          org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
          org.opencontainers.image.version=${{ github.ref_name }}
          com.github.actions.ref=${{ github.ref }}
          com.github.actions.sha=${{ github.sha }}
          com.github.actions.branch=${{ github.ref_name }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
