name: Build and Push Docker Image

on:
  push:
    branches:
      - 'v*'  # 只匹配以 v 开头的版本分支

env:
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Extract version number
      env:
        BRANCH: ${{ github.ref_name }}
      id: split
      run: echo "version=${BRANCH#v}" >> $GITHUB_OUTPUT

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: ${{ env.IMAGE_NAME }}:${{ steps.split.outputs.version }}
        labels: |
          com.github.actions.sha=${{ github.sha }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
